extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Joshua Fielding

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a junior frontend developer who currently works at Nine. This portfolio site is project 6 of my Treehouse FullStack JavaScript TechDegree, where we focused on learning Node.js and Express. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li CSS / Sass
          li HTML
          li Express 
          li Photoshop
          li InDesign
        h6 Contact Info

        //- Add your own contact info
        ul
          li 61+ 0423 196 816
          li josh.e.fielding@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/joshua-fielding-40905610a/') LinkedIn
        a.button.expanded(href='https://github.com/luxjoshyua') GitHub
        a.button.expanded(href='https://luxjoshyua.github.io/portfolio/') Personal Website
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  